[2017-02-03 08:19] ScreamingHawk opened #1 "Delete button need are you sure confirmation dialog"
Deleting an image is a permanent thing. There should be a dialog option to ask if the user is sure before proceeding.

[2017-02-03 08:21] ScreamingHawk opened #2 "Configurable slide timings"
The time between slides needs to be configurable in the settings. The default values seem either too fast or too slow depending on the usage.

[2017-02-03 08:51] ScreamingHawk opened #3 "Random slideshow order setting"
Add a setting that has a slideshow process in a randomized order

[2017-02-03 08:53] ScreamingHawk opened #4 "Remember scroll position when leaving and returning to app in list view"
When changing application and changing back,  the position of the scrollbar should be retained

[2017-02-05 07:47] ScreamingHawk opened #5 "Unnecessary padding around scroll view in list view"
On the list view there is additional padding around the scrolling view. The extra blank space at the bottom makes it appear as if the list is complete on certain screen sizes. Scrolling 'off the screen' is better to imply there are more items in the list.

[2017-02-05 20:11] #5 closed

[2017-02-05 20:21] #1 closed

[2017-02-05 20:25] ScreamingHawk opened #6 "New icon"
The current icon is generated from one of the example Creative Commons images built in to android studio. The new icon should be flat, minimal and simple.

[2017-02-06 18:39] ScreamingHawk opened #8 "Add ability to have slideshow stop once full rotation is complete"
Currently the application will start the slideshow from the beginning again once all the images have been shown. This is good default behaviour. It would be nice to add an option to have the slideshow stop once all images have been shown.

[2017-02-06 18:40] ScreamingHawk opened #9 "Overlay image meta data"
When viewing images in a slideshow, I'm sometimes interested in the image meta data (size, dimensions, name etc) It would be nice to have an option to overlay the meta data on the image during the slideshow.

[2017-02-06 18:56] ScreamingHawk opened #10 "Do not automatically resume the slideshow once manually stopped"
When the user has stopped an image for viewing, deleting etc, the slideshow should not automatically resume.

[2017-02-06 19:00] ScreamingHawk commented on #10
Automatic resume happens after clicking on the delete button. It should not

[2017-02-06 19:27] #10 closed

[2017-02-06 19:27] #8 closed

[2017-02-06 19:27] #3 closed

[2017-02-06 19:27] #2 closed

[2017-02-06 22:54] ScreamingHawk opened #11 "Out of memory error"
Out of memory error when viewing long lists of files with thumbnails and when viewing slideshows with many images

[2017-02-07 18:38] #6 closed

[2017-02-07 18:39] ScreamingHawk opened #12 "Reload preferences when returning to activity"
When viewing a slideshow, if you navigate to the settings activity, change some settings, and then navigate back, you would expect the preferences to be updated immediately. They do not. This should be fixed.

[2017-02-07 18:41] ScreamingHawk opened #13 "Random order doesn't start on the selected image"
When selecting an image to begin a slideshow, if you have the random order preference enabled you do not start on the selected image.

[2017-02-07 19:36] #12 closed

[2017-02-07 19:36] #13 closed

[2017-02-08 00:03] ScreamingHawk opened #14 "Share button"
There have been a few times where I've wanted to share a photo I've been viewing during a slideshow. There should be a button for this

[2017-02-08 02:07] #14 closed

[2017-02-08 03:25] #4 closed

[2017-02-08 03:25] ScreamingHawk commented on #11
Appears to have been fixed.

[2017-02-08 03:25] #11 closed

[2017-02-09 18:53] Rbagman opened #15 "Request: Slideshow from extSdCard and UsbDrive"
Request: Slideshow from extSdCard and UsbDrive

[2017-02-11 20:16] mobtechpd commented on #15
Yes it will be very nice to run photo slides from external sd or usb drive

[2017-02-12 18:34] ScreamingHawk commented on #15
Good idea. None of my devices have external SD cards so it never occurred to me. Will add this to the list of enhancements

[2017-02-12 18:37] ScreamingHawk opened #17 "Reset slide change timer on manual slide change"
When manually changing a slide (by swiping) the timer for automatically changing to the next slide is not reset. This means that the image that is swiped to is not displayed for as long as other images, and can make swiping through multiple images annoying as the slideshow continues to try to progress.

[2017-02-12 20:29] ScreamingHawk opened #18 "Handle Image Too Large error"
This exception is causing the application to crash:

java.lang.RuntimeException: Canvas: trying to draw too large(xxxbytes) bitmap.
	at android.view.DisplayListCanvas.throwIfCannotDraw(DisplayListCanvas.java:260)
	at android.graphics.Canvas.drawBitmap(Canvas.java:1415)
	at android.graphics.drawable.BitmapDrawable.draw(BitmapDrawable.java:528)

[2017-02-14 03:07] #17 closed

[2017-02-14 03:11] ScreamingHawk commented on #15
@Rbagman @mobtechpd Do you have a particular device in mind? Will use it for testing.

[2017-02-14 11:24] aj664 commented on #15
1.  read from external sd card.   is it not just in /mnt/  somewhere?  shouldn't be too hard to add.
2.  delay setting for setting the number of seconds to show each pic
3.  touch pic pause on that one until a left/right swipe starts it again.

[2017-02-14 18:08] ScreamingHawk commented on #15
@aj664 It's not a question of how hard it is. Each device can mount the external storage differently and rather than testing all devices with all combinations of cards, I'd rather test the use cases of actual users.

Points 2 and 3 are unrelated to this ticket. Point 2 is already a feature, check the settings. Point 3, there is already touch to pause, touch to resume and you can swipe to change pi

[2017-02-14 23:56] Rbagman commented on #15
@ScreamingHawk I have a Samsung GT-N7100/Android 4.4.2. Thanks.

[2017-02-15 01:34] aj664 commented on #15
sorry!  i was directed here from a link that says 'provide  suggestions', i was unaware of the 1 suggestion per comment policy.. and i wanted to list them in order of importance.
1. hope this helps:  http://stackoverflow.com/questions/11716448/how-to-access-external-micro-sd-card-of-the-phone
2. my bad, i only recalled there being switches in the settings, didn't realize submenus.
3. swipe to adva

[2017-02-15 01:58] ScreamingHawk opened #19 "Fast Scroll"
When viewing a slideshow swiping through images one at a time can be time consuming.

The current solution is to return to the list view and scroll through to find the image to start from and then click on it to restart the slideshow at that position.

Proposed solution: Add a list of thumbnails in a list that can be "flung" to scroll quickly through multiple images.

Opinions welcome.

[2017-02-15 02:00] ScreamingHawk commented on #15
@Rbagman Sweet I'll test with that. Thanks

@aj664 I've created issue #19 for point 3. Further discussion there? Thanks for the request.

[2017-02-15 19:38] ScreamingHawk commented on #15
Note to self: http://stackoverflow.com/a/31853303

[2017-02-21 08:27] ScreamingHawk commented on #15
Pushed a release to beta on the app store. F-droid should pick it up whenever they refresh their repository (I'm not familiar with how that works). Let me know here if there are any issues. If I don't hear anything after <some period> I'll consider it closed.

Enjoy! :cat:

[2017-02-21 11:36] Rbagman commented on #15
@ScreamingHawk OK. New updates posted this morning. Slideshow wasn't in the batch.

[2017-02-21 12:42] aj664 commented on #15
I just updated via play store, and the version i got doesn't appear to have any way to access the sdcard..  there is no linux-like root folder structure, and no apparent /mnt folder or anything.   I was unsure of whether i'm seeing this new version or not, so i looked in the About screen, and there is no version number..  maybe a version number would be helpful in identifying if we have got the la

[2017-02-21 19:32] ScreamingHawk commented on #15
@aj664 Nuts. Worked my virtual device. Unfortunately I don't have a real device with an SD card. What I'll do instead is allow access from the root directory of the device. This means you'll have to know where your SD card is mounted in order to access it (sounds like you do), but it also means that I can't muck up again.

This solution is actually a lot easier to code so an update should be pushe

[2017-02-21 19:51] ScreamingHawk commented on #15
ES File Explorer (non-free, bloated, ads) appears to have the same option as I'm implementing in Slideshow (mentioned above) but the root directory and other upper folders appear empty.

Looks like you'll need to have a rooted device to use this properly??

Someone correct me if I'm wrong.

[2017-02-22 23:01] ScreamingHawk commented on #15
Beta updated again. Let me know how it goes.

[2017-02-23 03:42] aj664 commented on #15
improved!  i can get to it.. it works! it works!!    but there is a usability bug..
the app opens at what i'll call the `Android User folders`..  Music,Documents,Ringtones etc..  (so far so good)..  i went into the settings and changed the 'Use Device Root' to on.  i press back, and i go back to the Android User folders (so far so good)..   (minor usability issue here..  the folder indicator at th

[2017-02-23 11:16] Rbagman commented on #15
I'm still waiting on F-Droid. :/

[2017-02-23 22:27] ScreamingHawk commented on #15
@Rbagman sorry I have no idea how frequently f-Droid updated their repositories or even if there is something I need to do to update it

@aj664 yay! I'll add some handling in case the user gets lost in an inaccessible folder

[2017-02-24 13:48] krt16s opened #21 "Fix translations"
Build fails for translation issues. While AS ignores them, they should either be fixed or made non-breaking on your side. E.g. I do:

`echo -e "android { lintOptions { disable 'MissingTranslation'\n\ndisable 'ExtraTranslation' } }" >> app/build.gradle`

[2017-02-26 20:03] ScreamingHawk commented on #21
As I'm not fluent in the translated language, I won't be 'fixing' them myself. Have taken your advice with the additional lint options.

[2017-02-26 20:03] #21 closed

[2017-02-26 20:26] ScreamingHawk commented on #15
Beta updated again with helper link when you are in an inaccessible folder. This should stop you getting stuck when browsing root folders. Also opening the app starts at the default SD card location instead of device root (when that setting was enabled).

Can I close this ticket yet? ;)

[2017-02-27 02:00] aj664 commented on #15
the  'Stuck? Click to go home' worked well.   the startup location works too.
yep, i think this ticket is done!    thank you.

[2017-02-27 02:01] ScreamingHawk commented on #15
Woohoo! Thanks for the help testing this. Hopefully f-droid will update soon

[2017-02-27 02:01] #15 closed

[2017-02-27 20:03] Rbagman opened #22 "[GT-N7100/Android 4.4.2/Rooted] "/(inaccessable)""
F-Droid finally updated Slideshow (1.1.5) extSdCard and UsbDrive work great. Thanks.

FYI, I hit the back button while in /storage I get /(inaccessable); getting back requires flipping root off, exiting setting, entering setting, and flipping root on again.

[2017-02-27 20:15] ScreamingHawk commented on #22
(inaccessible) appears when the application does not have read access on the folder. I not sure what allows and disallows read access in the root folder when the device is rooted. If you have any idea how I should get around this please let me know or submit a pull request if you can fix it yourself. (Do you think it is a real problem? Do you need to navigate that deep to get to your images direct

[2017-02-27 20:24] #9 closed

[2017-02-27 20:24] ScreamingHawk commented on #9
In beta

[2017-03-01 07:21] ScreamingHawk commented on #18
Fix in beta

[2017-03-01 15:20] Rbagman commented on #22
No, I have no clue. I also have XDA Framework installed.

I hit the back button a few times too many coming off UsbDriveA. I expected it to stop in the / folder. I only mentioned it because it wasn't normal behavior.

Matter's closed for me.

[2017-03-01 18:01] ScreamingHawk commented on #22
Thanks @Rbagman, I appreciate the update. Hopefully the 1.2.0 update fixes the 'stuck' navigation issue for you

[2017-03-01 18:01] #22 closed

[2017-03-01 18:01] #18 closed

[2017-03-01 19:10] ScreamingHawk opened #24 "Update Play Store Promo Images"
The images suck. I want better ones.

Make a folder in the repository root named `promo_images` and populate as follows:

|Location|Image Count|Size|Type|Description|
|----------|----------|----------|----------|----------|
|`promo_images/Screenshots/Phone/`|2-7|1280×720 or 720x1280|JPEG or 24-bit PNG (no alpha)|Screenshots of the application on a phone|
|`promo_images/Screenshots/Tablet/`|2-7|128

[2017-03-02 18:23] ScreamingHawk opened #25 "Image Details not updating on setting change"
Two problems I've noticed while updating the settings for `Show image details`.

When image details are off, navigate to an image and start the slideshow, pause slideshow, navigate to settings and turn details on.

1. Image details do not appear, thin grey box is visible with no details populated.

When slideshow changes image, image details are shown. Pause slideshow.

2. Image details are not di

[2017-03-19 21:18] ScreamingHawk opened #26 "Translations"
Slideshow is at a stable point in development and I don't expect to see many/any changes to the strings.xml for a while.

Would be nice is some bilingual people could translate the application into various languages.

Any languages is appreciated, but I have installs in the following non-English countries:
* Russia
* Belgium
* India
* Austria
* China
* Germany
* Italy
* Netherlands
* Denmark
* Pol

[2017-03-20 00:34] laura-barluzzi commented on #26
Hi @ScreamingHawk, I'm Italian and I'm interested in translating to Italian whatever you need. Could you please guide me to the right place to add my translations?

[2017-03-20 01:31] ScreamingHawk commented on #26
@laura-barluzzi Thanks Laura! Have a look at the contributing information I just put up [here](https://github.com/ScreamingHawk/android-slideshow/blob/master/CONTRIBUTING.md) and let me know if you still have questions

[2017-03-20 01:33] ScreamingHawk commented on #26
You can have a look at the Lithuanian translations in `values-lt` as an example :)

[2017-03-20 13:05] thlabbe commented on #26
thanks to https://open-source.now.sh/ and https://news.ycombinator.com/item?id=13908606

[2017-03-20 18:23] ScreamingHawk commented on #26
@thlabbe Exactly why I added these labels!! I still find it really hard to find projects I can contribute to in meaningful but easy ways. This website is a fantastic idea, and I'm happy for all the help.

[2017-03-20 18:47] ScreamingHawk commented on #24
When taking screenshots of images please ensure the images aren't subject to copyright. https://unsplash.com/ is a fantastic resource for free public domain images.

[2017-03-21 13:26] JekRock commented on #26
Hi! I added a Russian translation to your app. #34

[2017-03-22 12:46] TheRojam commented on #26
i would do **German** Translations

[2017-03-22 18:26] ScreamingHawk commented on #26
@TheRojam We already have a German translation. You can find it [here](https://github.com/ScreamingHawk/android-slideshow/blob/master/app/src/main/res/values-de/strings.xml). If you feel there is a mistake (I don't speak German so I wouldn't know..) you can fork and create a pull request for fixes, otherwise this has already been done.

[2017-03-24 22:19] TheRojam commented on #26
@ScreamingHawk bad german --  looks like google translate... bad grammar. where i can finde the original?

[2017-03-27 23:48] ScreamingHawk commented on #26
@TheRojam Have a look at the [contributing](https://github.com/ScreamingHawk/android-slideshow/blob/master/CONTRIBUTING.md) page if you want to fix it. Instead of creating a new file, just overwrite the existing German one.

Unfortunately I have no way of knowing if a translation is good or not so I have to put my faith in the contributors.

[2017-03-28 14:21] jcampos187 commented on #24
Hello do you still need help with this?

[2017-03-28 18:14] ScreamingHawk commented on #24
@jcampos187 Yes please! Let me know if you have any questions. App can be downloaded from the Play Store of F-droid. Or you can run the code in an emulator through Android Studio.

Thanks

[2017-04-06 19:12] howeyc opened #36 "Play sub-folders"
Is there a way to play sub-folders as well. All the way down the tree?

Also, let's say I'm at a level where I don't have any images in that folder, but I do in the sub-folders and want to play all images contained in all folders. Maybe a little "Play" icon in the lower right, like how G-Mail has the "+" icon down there to go to compose view?

[2017-04-10 01:20] ScreamingHawk commented on #36
I really like this idea.

Will push something through to the beta stream on the play store later tonight.

[2017-04-10 01:58] ScreamingHawk commented on #36
Got excited and push it out already. You can [sign up for the beta here](https://play.google.com/apps/testing/link.standen.michael.slideshow) if you want to see the proposed implementation.

The problem is that there is a huge up front calculation to get all the images in all subfolders. This is going to have a huge performance hit for users that use this feature on top level folders.
I don't have

[2017-04-10 19:38] ScreamingHawk commented on #26
@mobtechpd
@laura-barluzzi
@SentToDevNull
@thlabbe
@aym3nb
@zephyrict
@uzluisf
@KristianTurner

I'm adding another feature (#36) that has 3 additional strings values. If you could update the translations to include these new values it would be much appreciated :tada:

I'm planning to release the feature to stable in the next week or so.

(Please don't feel obligated to do these translations. It's

[2017-04-11 15:54] howeyc commented on #36
This looks great! Thanks for looking into it!

I'm and F-Droid user, so I guess I'll wait. ;)

[2017-04-13 02:09] ScreamingHawk commented on #19
I'll accept a pull request for this feature, but I have no current intentions of implementing it myself.

[2017-04-18 19:37] howeyc commented on #36
I appreciate you doing this. I tried it out and it's great!

[2017-04-19 02:57] ScreamingHawk commented on #36
@howeyc No problem. I'm genuinely happy to have it. I use this feature almost exclusively now.

[2017-04-19 02:57] #36 closed

[2017-04-29 07:51] psyanite commented on #24
This article talks about the Promo Graphic:
https://support.google.com/googleplay/android-developer/answer/1078870?hl=en

Maybe displayed on the market like in this article:
https://android-developers.googleblog.com/2011/10/android-market-featured-image.html

[2017-04-29 13:26] lbaca commented on #26
Hi!

@uzluisf did a great job with the Spanish translations, but I was wondering if it would be OK for me to make a couple of improvements, and take this as an opportunity to submit my first-ever pull request!

Any objections?

[2017-04-30 00:38] ScreamingHawk commented on #26
@lbaca No objections. Please feel free.

As I don't speak languages other than English I can never be sure if the translations are any good, so I'm always grateful when improvements are offered.

[2017-04-30 00:43] ScreamingHawk commented on #24
Couple of the images requested have been supplied. Thanks to @psyanite. Still need some good screenshots

[2017-05-05 00:21] ScreamingHawk opened #48 "Autoplay GIFs"
Sometimes the slideshow happens across animated images (such as GIFs) but only displays a static thumbnail for them.

It would be nice if the app instead played the GIF entirely before sliding to the next image.

[2017-05-05 00:22] ScreamingHawk opened #49 "Zoom images when paused"
When paused it would be cool if the images could be zoomed using two finger action

[2017-05-18 08:56] ScreamingHawk opened #50 "Share feature broken in Android O beta"
Share feature is broken in the Android O beta release. Needs to be fixed.

[2017-05-18 09:25] ScreamingHawk commented on #50
Fixed in beta stream. Needs a production release. Damn Android O really speeds up performance

[2017-05-18 09:25] #50 closed

[2017-06-11 19:14] ScreamingHawk opened #51 "Add directory to image details view"
In the settings there is a "show image details" option. When enabled a bunch of details are added to the slideshow in a translucent box. With the addition of the "Please from here" button, the directory could be different for each image. Would be nice to have the directory show up in this details list so someone can tell where the image is located.

Help wanted, unless I get around to doing it mys

[2017-06-22 20:00] #51 closed

[2017-06-22 20:07] #25 closed

[2017-06-22 20:36] ScreamingHawk commented on #26
This project has been sitting around for a while, but I've made a couple updates and seen more installs than I was expecting.

A great deal of this has been thanks to all the help from the translators! Thanks so much. You guys deserve more credit than you've been given so I've added another line in the credits just for you!!

Please update the translation for your language to include the new credi

[2017-06-23 02:16] ScreamingHawk opened #52 "Thumbnail display could be better"
Thumbnails are slow to load and do not update unless they fall off the screen and are redrawn.

This could be improved.

[2017-06-23 19:32] lbaca commented on #26
I'll handle the Spanish.

[2017-06-23 20:15] aym3nb commented on #26
Thanks @ScreamingHawk

[2017-07-04 05:18] ASVS-Kartheek commented on #26
Hi I'm Indian. There are many major languages in India, I would like to translate this into Telugu if it is helpful.

[2017-07-04 06:26] ScreamingHawk commented on #26
@ASVS-Kartheek Yes please!

[2017-07-04 09:09] ScreamingHawk opened #59 "Check file content type when no file extension"
When no file extension has been provided, Slideshow doesn't know if it is an image.

Slideshow can be smarter than this.

[2017-07-04 09:13] #59 closed

[2017-07-04 09:14] ScreamingHawk opened #60 "Add ellipse for long filenames"
When filenames are too long they simply drop off the list view. It would be better to add an ellipse to show that there is more not shown.

[2017-07-04 09:16] #60 closed

[2017-07-04 09:56] ScreamingHawk commented on #52
Live in Beta stream. Testing on a real device required before closing this ticket.

[2017-07-04 19:39] ScreamingHawk commented on #52
Performance is meh. Requires more work

[2017-07-05 03:42] ScreamingHawk opened #62 "Make list items bigger in Saver view"
I miss-click a lot when trying to save things. If the buttons were bigger this wouldn't happen so often

[2017-07-05 09:25] ScreamingHawk commented on #62
This is for the wrong project...

[2017-07-05 09:25] #62 closed

[2017-07-09 19:56] ScreamingHawk opened #63 "Hide translator credits when using English"
The English translator credits should not be shown for English

[2017-07-09 20:05] #63 closed

[2017-07-12 06:10] sumanthrao commented on #26
I would like to add Indian language translations(Hindi and Kannada).Could you guide me to the concerned files?

[2017-07-12 20:46] ScreamingHawk commented on #26
@sumanthrao Yes please! Directions are at the [contributing](https://github.com/ScreamingHawk/android-slideshow/blob/master/CONTRIBUTING.md) page

[2017-07-16 06:20] ScreamingHawk opened #64 "Add setting to open app in the last folder used if enabled"
User requested feature:

This is a great idea, as I almost always use the same folder as well.

Going to make this an optional setting defaulted to disabled.

[2017-07-16 06:50] ScreamingHawk commented on #64
Live in v1.5.3

[2017-07-16 06:52] ScreamingHawk opened #65 "Location image details should only show path"
The image name is visible in the header always. Sometimes the file name is long and so the folder path is not visible. Showing the folder path was the primary reason behind adding the full path to the image details

[2017-07-16 07:01] ScreamingHawk commented on #65
Live in v1.5.4

[2017-07-16 07:01] #65 closed

[2017-07-16 07:01] #64 closed

[2017-07-18 20:56] ScreamingHawk commented on #52
Performance is absolutely abysmal now. Also the thumbnail preference is not honoured. This needs fixing

[2017-07-18 23:11] ScreamingHawk commented on #52
Sucked it up and used a library to handle the thumbnail generation. Should have done this in the first place, but it was a good learning experience.

[2017-07-18 23:22] #52 closed

[2017-07-19 20:17] ScreamingHawk opened #66 "New thumbnail generation sometimes overwrite with wrong image"
The new thumbnail generation sometimes overwrite the thumbnail with the wrong image. This includes overwriting the `Play from Here icon` and folder icons.

[2017-07-19 20:19] ScreamingHawk commented on #66
Fix now has the problem where sometimes the thumbnail is not updated when it should be. This is a timing issue.

[2017-07-19 20:20] ScreamingHawk opened #67 "Thumbnail sometimes doesn't show until row falls off screen"
This is a timing issue where the imageView and the holder haven't synchronized before the thumbnail generation is complete.

[2017-07-19 20:21] ScreamingHawk commented on #66
#67

[2017-07-19 20:21] #66 closed

[2017-08-06 20:49] MelkyFB commented on #26
I like to add Portuguese language translation, please refer to my push: https://github.com/MelkyFB/android-slideshow/commit/b981e75d4f814b388c95daddbbef40ec7d1996f1

[2017-08-29 20:40] ScreamingHawk opened #70 "Add AutoStart feature"
A user has requested the ability to automatically start the slideshow when opened.

The slideshow should begin from the last seen image and remember if the `Play from here` button was used.

* No intention to retain order of slides when `random` option is enabled

[2017-09-04 19:45] ScreamingHawk opened #71 "Change Log"
This application changes a lot. Should have a change log.

[2017-09-04 19:50] ScreamingHawk opened #72 "Picture in Picture"
Add picture in picture feature.

Click a button to enter pip mode. See if it works for the entire app. If so button is in the drop menu, otherwise it's a button on the slideshow, and a setting to show/hide it.

[2017-09-04 19:54] #70 closed

[2017-09-04 20:09] ScreamingHawk commented on #48
Universal Image Loader has no GIF support. Replace with Glide.

https://github.com/nostra13/Android-Universal-Image-Loader/issues/1254

[2017-09-05 20:40] ScreamingHawk commented on #48
Changing to Glide may fix #67

[2017-09-05 20:40] #48 closed

[2017-09-05 21:11] ScreamingHawk commented on #67
Appears to have been fixed by the switch to Glide in #48

[2017-09-05 21:12] #67 closed

[2017-09-05 21:13] ScreamingHawk commented on #26
Hi all,

I've added another setting that can be translated at your leisure.
Thanks again for any help you provide with this.

Cheers,
Michael

[2017-09-06 19:24] ScreamingHawk opened #73 "Timing Issue"
The time for which a slide is shown does not match the configuration time selected.

The timer starts when the image is displayed. When the timer ends, the new image begins loading. This causes the current image to be show during the loading period which sometimes is a considerable amount of time. This causes the image to be shown for a duration longer than intended.

**Planned Fix**

* Create a s

[2017-09-06 20:01] ScreamingHawk commented on #73
**Alternative Plan**

* Load the image in advance, store in memory
* When the timer ends and if the image has loaded, switch the visibility of the two image views
* Repeat

There may not be a need to store the image in a second view

[2017-09-06 20:48] ScreamingHawk commented on #73
Went with the alternative plan. Glide good cache management, no need to implement myself.

[2017-09-06 20:50] ScreamingHawk commented on #73
**Note**

This doesn't fix the issue entirely. When an image takes longer to preload than the timer there will be a noticeable delay. The solution for this is to preload many images in advance. I don't want to do that.

[2017-09-06 20:51] ScreamingHawk opened #74 "Make preloading images a configurable option"
Related #73

Make image preloading a configurable option.

Default: on

[2017-09-07 19:00] ScreamingHawk opened #75 "Long load notification"
I've noticed with GIF support, that some images take a significant amount of time to load (30 seconds+). Would be nice to have a notification (`snackbar` so it persists) when an image is taking too long to load.

Would be nice to have a setting to skip images that take too long to load as well.

[2017-09-07 19:44] #75 closed

[2017-09-07 19:44] #73 closed

[2017-09-07 19:52] #74 closed

[2017-09-10 19:43] ScreamingHawk opened #77 "Fix black spaces between images"
There are periods of black spaces when using Glide. I think I'm clearing the image view cache when I shouldn't be...

[2017-09-10 19:50] ScreamingHawk opened #78 "Fix positioning of snackbar when slideshow stopped"
When an image takes a long time to load a snackbar appears warning the user.

This snackbar isn't positioned correctly when the slideshow is stopped.

[2017-09-10 19:52] ScreamingHawk opened #79 "Convert to Strategy pattern"
Convert the image loading to a strategy pattern.

* Flexibility when adding support for more features and ways to load
* Easy to add the old loading method back in
* Reduce the code size of the `ImageActivity`

[2017-09-10 20:20] ScreamingHawk commented on #78
Stuck.

Here's my SO post: https://stackoverflow.com/questions/46145207/snackbar-hidden-by-bottom-navigation

[2017-09-10 20:25] ScreamingHawk opened #80 "Allow use of old image loading strategy"
Add back in the old image loading strategy and add a setting for which to use.

Glide performance is questionable, but required for GIF support.

[2017-09-10 20:25] ScreamingHawk commented on #80
Depends on #79

[2017-09-10 20:28] #79 closed

[2017-09-10 20:56] #80 closed

[2017-09-10 20:56] #77 closed

[2017-09-11 02:42] #78 closed

[2017-09-11 19:40] ScreamingHawk commented on #72
PIP mode available from Image Activity only, as no clicks are captured in PIP mode.

Can be activated via menu or by swiping down on a slide.

[2017-09-11 19:40] #72 closed

[2017-09-14 19:17] ScreamingHawk opened #83 "Correct ImageActivity title"
The title for `ImageActivity` is currently `ImageActivity`. This previously was not visible, but is now with picture in picture support.

**Steps to reproduce**

1. Start slideshow
2. Enter picture in picture
3. Close remaining application
4. Expanding picture in picture mode to full application
5. Use the Overview (Square bottom nav) button
6. See title in incorrect

[2017-09-14 20:01] ScreamingHawk opened #84 "Do not show List Activity when entering picture in picture mode"
When entering picture in picture mode, the previous list activity is shown.

It would be good if the application closed the List Activity instead, while keeping it available in the back stack.

[2017-09-14 20:03] ScreamingHawk commented on #84
Related SO question: https://stackoverflow.com/questions/45187961/task-list-and-back-stack-with-android-o-picture-in-picture-mode

Looks like there will be a lot of manual handling to get this to work. I suspect it would be easier to create new activities when using the back button and completely ignore (clear) the back stack.

[2017-09-14 20:03] #83 closed

[2017-09-14 20:12] ScreamingHawk commented on #71
I'm thinking about the best way to implement this while keeping in mind that the translations are not updated as frequently as the application. The chances are high that the change log will never be translated on time or translated at a previous version and remain out of date.

I want the change log to appear when the app is first loaded, showing the recent changes, then store a `SharedPreference`

[2017-10-12 19:33] ScreamingHawk commented on #84
Tried:

* `launchMode = singleX` in manifest. Weird behaviour on slideshow activity
* `startActivityForResult` closing activity when using PIP mode. Doesn't always call correctly
* Manually handling back stack. Fine but doesn't fix the problems with slideshow activity behaviour

**Weird slideshow activity behaviour**. Start slideshow. Enter PIP. minimise app. Expend PIP to full screen. Click back

[2017-10-13 22:59] Bubu opened #87 "Tag for v2.2.0 missing"
For the F-droid build to be able to effectively upgrade to newer version it would be helpful if you could add the tag for the 2.2.0 release (and then for the following versions).

The new versions will than be automatically picked up, build and diustributed shortly after you add the new tag.

The tag should always correspond to the version name, i.e. tagging version 2.2.0 as v2.2.0.

[2017-10-15 18:17] ScreamingHawk commented on #87
Oops! Thanks for noticing!

I've added `--follow-tags` to my `git config` so this shouldn't get missed again.

[2017-10-15 18:17] #87 closed

[2017-11-05 19:34] jondo opened #88 "Cannot browse to external USB drive"
I have connected an external drive via USB-OTG and cannot browse to it.

[2017-11-14 17:59] ScreamingHawk commented on #88
:( I have this problem in other apps I have developed as well. Unfortunately I have no way to test if my changes are working correctly and no one has offered a pull request to fix the issue, so I'm unable to do anything about this at this point.

[2017-11-14 18:00] ScreamingHawk commented on #88
**I appreciate any help offered on this ticket.**

[2017-11-14 18:01] ScreamingHawk opened #89 "Configurable Scaling Mode"
Currently the slideshow app uses a fit to screen scaling mode.

Would be good to allow the user to select between:

* Fit to Screen
* Fill Screen
* Original Size

[2017-11-21 22:00] DaricusDuncan commented on #71
@ScreamingHawk  Is this project open for volunteers that are still learning Java and Android Studio?

[2017-11-22 01:22] wardbradt commented on #26
Yes please 

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Liuxi-G <notifications@github.com> Date: 11/21/17  2:53 PM  (GMT-05:00) To: ScreamingHawk/android-slideshow <android-slideshow@noreply.github.com> Cc: Ward Bradt <wbradt@optonline.net>, Mention <mention@noreply.github.com> Subject: Re: [ScreamingHawk/android-slideshow] Translations (#26)
Hello. I found som

[2017-11-22 18:06] ScreamingHawk commented on #71
@DaricusDuncan absolutely! Feel free to submit a pull request and don't be afraid to ask for help if you need it :)

[2017-11-23 19:29] ScreamingHawk commented on #71
I've used this plugin in another app (https://github.com/ScreamingHawk/phone-saver) and it seems to work really well: https://github.com/cketti/ckChangeLog

[2017-11-24 09:29] ScreamingHawk opened #91 "Support slide delay of fractions of a second"
I think there is an integer conversion happening too early which rounds the delay down to the nearest second. This shouldn't be happening.

[2017-11-24 09:42] #91 closed

[2017-11-27 15:58] DaricusDuncan commented on #71
@ScreamingHawk Just wanted to check in and let you know that I am still working on this and reviewing all of the information you have provided. Thank you so much for the help!

[2017-11-30 18:35] ScreamingHawk opened #92 "Quick delete"
Add an option to skip the "are you sure" dialog when deleting images.

Option: `Warn before deleting`
Default: `true`
Description: `Show a warning pop up before deleting a file`

[2017-11-30 18:46] ScreamingHawk commented on #92
Added a warning to the description. This deleting really really fast. A miss-click could be *deadly*

[2017-11-30 18:46] #92 closed

[2017-11-30 18:50] ScreamingHawk commented on #84
This issue bugs me way more than it should

[2017-11-30 18:50] ScreamingHawk commented on #71
Thanks @DaricusDuncan! Don't hesitate to ask for advice if you need help.

[2017-11-30 18:51] ScreamingHawk commented on #71
And I'm happy to populate the change log with the release messages myself. No need for you to do that :)

[2017-12-03 18:15] ScreamingHawk opened #93 "Upgrade Glide to v4"
Glide is currently using v3.

Would be good to upgrade to v4. There is significant change for this.

[2017-12-03 19:13] ScreamingHawk commented on #93
`GifDrawable.getDecoder()` is not available in Glide v4. This makes it difficult to calculate GIF run time for varying the slide delay when viewing a GIF

[2017-12-03 19:17] ScreamingHawk commented on #93
Performance changes is negligible in the Android emulator. More testing required on device to see if this is a good idea.

[2017-12-14 21:25] DaricusDuncan commented on #71
@ScreamingHawk  I completely understand. I had to take a step back and really get a deep understanding of Java and how everything is working so I have been busy learning Java basically man.

[2018-01-09 18:16] ScreamingHawk commented on #93
There's not really a good way to access the `GifDecoder`: https://stackoverflow.com/questions/47621960/glide-4-get-gifdecoder-of-gifdrawable

[2018-02-07 23:41] ScreamingHawk opened #95 "Picture in picture causes crashes"
Selecting picture in picture is causing a crash for devices that do not support it.

Ideally this option should be hidden when the device doesn't support it. But at the very least it shouldn't crash.

[2018-02-08 18:27] ScreamingHawk opened #96 "Pause slideshow"
Add the ability to pause a slideshow without showing the controls.

* Add an option to enable this
* Click to pause
* Double click / swipe up /down to show controls

This is highly requested feature

[2018-02-08 19:01] ScreamingHawk commented on #95
Menu item is hidden when PIP is not supported

[2018-02-08 19:01] #95 closed

[2018-02-11 18:39] ScreamingHawk commented on #96
Chose a different approach.

* Double click to pause / play
* Everything else remains the same

[2018-02-11 18:43] ScreamingHawk commented on #96
Feels like this could use some user notification to show that it is paused / playing.

[2018-02-11 18:46] #96 closed

[2018-02-11 18:55] ScreamingHawk opened #97 "Controls Tutorial"
People are going to have to stumble across the double click functionality. I've even had someone not realise they can swipe and single click to go back!

Need some kind of tutorial on first use to show the new features.

[2018-02-11 21:55] jcos1 opened #98 "Slideshow from multiple folders"
My use case is a digital photoframe.
(Similar to apps like dayframe of fotoo.)

It would be nice to be able to select multiple folders.

[2018-02-12 18:18] ScreamingHawk commented on #98
I like this idea

*Implementation:*

* Add check boxes along side each folder / image in the list view
* Add a Play `FAB` button
* When clicked send a list of checked items to the `ImageActivity`

[2018-02-12 18:24] ScreamingHawk opened #99 "Pause Feature shouldn't work when controls are visible"
Double clicking shouldn't pause/resume the slideshow when the controls are visible.

[2018-02-12 18:26] #99 closed

[2018-02-13 05:19] relan opened #100 "Build failure: Could not find com.android.tools.build:gradle:3.0.1"
Hi,

F-Droid maintainer here. Slideshow [fails to build](https://f-droid.org/wiki/page/link.standen.michael.slideshow/lastbuild_41) since 2.2.1:

Steps to reproduce:

1. `cd app`
2. `gradle assembleRelease`

The problem here is that Android Gradle plugin 3.0.1 is available only in Google Maven repo, not JCenter. Please adjust your [top-level build.gradle](https://developer.android.com/studio/build

[2018-02-14 19:54] ScreamingHawk commented on #71
Added change log.

Change log only displays when selected from the menu for non English users.
For English, the change log also opens when a new version is detected showing only the changes.

[2018-02-14 19:54] #71 closed

[2018-02-19 01:01] nmeo opened #101 "Add support for EXIF orientation"
Some pictures that have an EXIF orientation tag do not appear to be rotated correctly. It would be nice to add support for this so some pictures don't show up sideways.

[2018-02-19 01:03] nmeo opened #102 "Option to change background color"
When images don't fit the aspect ratio there will be bars on either side that currently is always a specific shade of grey. It would be nice to have the option to change this color to something like black or another color that would fit better with the slideshow on certain tablets.

[2018-02-22 18:30] #19 closed

[2018-02-22 18:42] ScreamingHawk opened #103 "Move slideshow loading to background thread"
Some users are seeing this error: `Input dispatching timed out`

When clicked, offload the loading to a background thread:

[code]

Then disable the list view and replace with a loading message (see Phone Saver loading message)

[2018-02-22 18:43] ScreamingHawk opened #104 "Handle Error: `android.graphics.Canvas.throwIfCannotDraw`"
There are many instances of users getting the `android.graphics.Canvas.throwIfCannotDraw` Exception. This needs to be handled somehow.

[2018-02-22 18:45] ScreamingHawk opened #105 "Handle IllegalArgumentException when using Share feature"
Error happening at this point:

[code]

Unsure what state the application is in to have an error at this point.

[2018-02-22 18:48] ScreamingHawk opened #106 "Handle NullPointerException in CustomImageStrategy.load"
[code]

I imagine this should be a trivial fix. If anyone wants to pick it up before I get to it, go for it.

[2018-02-22 18:49] ScreamingHawk opened #107 "Handle IllegalArgumentException in Glide preload"
[code]

Not sure what state the application is in at the point that this becomes a problem.

[2018-02-22 18:51] ScreamingHawk commented on #107
There are two instances of this error. Both in the load and preload calls.

[2018-03-01 23:00] vwugd97 opened #108 "Add WebM support"
I think it would be awesome if the App could play .webm files.

[2018-03-04 18:04] ScreamingHawk commented on #108
Me too!

[2018-03-05 05:08] ScreamingHawk commented on #98
@jcos1 If you enable the "Play from here" button you can start a slideshow using all sub folders. Might help you while I find time to add this feature

[2018-03-11 22:19] Kilvoctu opened #109 "Image orientation"
I have image libraries with mixed portrait and landscape images. It would be most convenient if Slideshow could automatically orient these correctly. I can't seem to find any existing option for this aside from unlocking phone orientation and turning it as needed per picture.

[2018-03-12 18:12] ScreamingHawk commented on #109
Is this related to #101?

Are you expecting the app to switch being portrait and landscape mode depending on if the image is portrait or landscape? So, the orientation could change multiple times during a slideshow?

Just trying to understand the request :)

[2018-03-12 18:56] Kilvoctu commented on #109
Yes, that's correct.
Unfortunately, I'm woefully ignorant of image data, so my conclusion after Googling "EXIF" is that issue 101 may or may not be related; that is, my images aren't taken with a camera so I'm not sure if EXIF data is generated for the orientation. But more or less, it's the gist of the request. Thanks for replying.

[2018-03-12 19:26] ScreamingHawk commented on #109
Sounds like it's different.

Also sounds like it should be a pretty easy add. Will add it to the list of feature requests :)

*Dev note:*

* On image load, check length vs width
* When width is larger, rotate image to fake landscape mode
* Add feature toggle in settings `Rotate landscape images`

[2018-03-12 19:27] ScreamingHawk commented on #109
Adding `help wanted` tag in case someone else wants to pick this up. It shouldn't be too complicated.

[2018-03-14 14:30] ph4k4 commented on #106
Hi @ScreamingHawk , I would like to practice open source android development, is it okay if i work on this issue?

[2018-03-14 18:23] ScreamingHawk commented on #106
Thanks very much @ph4k4 !

Let me know if you have any difficulty setting up the project, or submitting a pull request.

I haven't investigated this issue, so I'm not sure how to replicate it.
I'll be happy with a 1 line fix like adding a null check, which should be enough to stop the error.

[2018-03-22 18:44] ScreamingHawk commented on #101
After working on #109 , this one should be pretty easy

[2018-03-24 18:04] Kilvoctu commented on #109
Thank you kindly for adding this feature, and so quickly too. I've been utilizing it for the last couple days, and it works great with some caveats.

It appears this feature results in crashes on very large pictures (3MB+ filesize), at least on my Xperia XZs running Android 8. It would crash while attempting to load the next image, regardless of order.

I've tried multiple variations of settings a

[2018-03-26 18:28] ScreamingHawk commented on #109
Thanks for the thorough investigation! I'll have a look into this. I'm not entirely familiar with how Glide works so I'm probably missing something simple.

Swapping issue from `feature` to `bug`.

[2018-03-30 14:42] wanizubair opened #112 "Slideshow stopped while opening any high quality image directory for slideshow view."
#### Expected behavior

+ The App should be able to view a slideshow of any directory.

#### Actual behavior

+ The App is not able to view a slideshow of high quality images, when we open any high quality image directory The App Crashes and we are not able to view slideshow of high quality image directory.

#### How to reproduce

[Download](https://f-droid.org/app/link.standen.michael.slideshow)

[2018-03-31 06:52] ScreamingHawk commented on #112
Thanks for the bug report!

Can you please send me a screenshot or list of all the settings that you have enabled so I can replicate this issue? The code run varies considerably depending on the settings selected.

[2018-04-02 19:27] ScreamingHawk commented on #100
F-Droid has updated their supported versions. This is no longer an issue.

[2018-04-02 19:27] #100 closed

[2018-04-02 20:19] ScreamingHawk commented on #109
Issue was due to poor performance, caused by the rotate transform overriding the `fitCenter` transform.

[2018-04-02 21:22] ScreamingHawk opened #113 "Crossfade"
Would be cool to have a crossfade between images.

Note: Glide only.

[2018-04-03 04:09] relan commented on #100
Actually [this change](https://github.com/ScreamingHawk/android-slideshow/commit/ded6c7b9a00165bc1ff296ef23508d4cc2b8d905#diff-c197962302397baf3a4cc36463dce5eaR6) fixed Slideshow, not F-Droid.

[2018-04-03 13:40] beckysophie opened #114 "Rotating Phone Restarts Application"
***Expected Behavior***

Just like some similar apps, regardless of the orientation, users should be able to use the App without any errors

***Actual Behavior***

When in a folder of where pictures are stored, and the device orientation goes landscape, it would take users to the root folder and start all over again.....

***How to produce the bug***

* Open the app
* Locate and select any folder

[2018-04-03 19:05] ScreamingHawk commented on #114
Thanks! I had never noticed this before. It's even more annoying when you've got the auto start setting on.

[2018-04-03 19:08] beckysophie commented on #114
You're most welcome

[2018-04-03 19:28] ScreamingHawk opened #115 "Change Log pop up appears twice"
When using the `autoStart` feature, the change log pop up appears twice.

A check needs to be added to see if the pop up is currently shown and not show it if it is.

Would be nice to have this pop up on the ImageActivity too but that's a nice to have extra.

[2018-04-03 19:29] ScreamingHawk commented on #112
I'm unable to replicate this issue without more information.

[2018-04-08 19:32] ScreamingHawk commented on #109
How's the fix @Kilvoctu ?

[2018-04-08 23:02] Kilvoctu commented on #109
Oh, didn't realize the new release already happened. The application appears to be significantly more stable with Glide enabled.

After a bit of stress testing, I found crashes can occur by rapidly swiping to skip through sets of very high resolution images or waiting long enough (3-4min w/ 20sec delay) with image preloading on; same sets of large images I used before, though couldn't cause a cras

[2018-04-09 06:34] ScreamingHawk commented on #115
Note to self: Test auto start with version update and view changelog on imageactivity

[2018-04-09 19:26] #115 closed

[2018-05-14 02:35] ScreamingHawk commented on #97
User request for tutorial not to show up on first run, but to be accessible from the setting menu during a slideshow. I like this

[2018-05-14 02:36] ScreamingHawk commented on #89
Another user request for `fit to screen`

[2018-05-14 02:37] ScreamingHawk commented on #89
This should be trivial to add for `Glide` only. And non-trivial but "easy" (googlable) for custom strategy

[2018-06-13 06:01] chrysn commented on #88
I can't help here in terms of code, but maybe provide a pointer: if slideshow used the Storage Access Framework rather than direct file access, it would not only see external USB files, but could also access external SD cards and termux' provider-exported home directory (which might help during development when no external hardware is available).

[2018-08-06 19:41] ScreamingHawk opened #117 "Add travis ci"
https://docs.travis-ci.com/user/getting-started/

[2018-08-09 20:31] ScreamingHawk opened #118 "Fix sort order for Play From Here"
The `Play From Here` button currently sorts alphabetically by filename when it should sort alphabetically by path.

This should be an easy fix by changing this line: https://github.com/ScreamingHawk/android-slideshow/blob/master/app/src/main/java/link/standen/michael/slideshow/util/FileItemHelper.java#L68

e.g.

[code]

Current:
[code]

Expected:
[code]

[2018-08-15 00:02] brandanlockwood commented on #118
Can I work on this?

[2018-08-15 04:03] ScreamingHawk commented on #118
Absolutely! Thanks so much

Let me know if you've got any questions and I can give you a hand.

Cheers,
Michael

On Wed, 15 Aug 2018, 12:02 PM Brandan Lockwood, <notifications@github.com>
wrote:

[2018-08-20 23:34] brandanlockwood commented on #118
Hi Michael,
At https://github.com/ScreamingHawk/android-slideshow/blob/master/app/src/main/java/link/standen/michael/slideshow/model/FileItem.java#L59 is there reason to compare names versus paths?

[2018-08-21 01:03] ScreamingHawk commented on #118
Not really.

Originally there was only a single folder to slideshow from, so the `path` part of the `path` was always the same. This fix should be as easy as changing that line as you've pointed out.

[2018-08-21 19:54] ScreamingHawk commented on #118
Fixed in #119

[2018-08-21 19:54] #118 closed

[2018-09-03 20:03] ScreamingHawk commented on #117
Success! https://travis-ci.com/ScreamingHawk/android-slideshow/jobs/143519368

[2018-09-03 20:03] #117 closed

[2018-09-09 19:37] ScreamingHawk opened #120 "Handle NullPointerException on ImageActivity.loadImage"
[code]

Untested but this error could possibly occur when the user selects "Play From Here" when there is nothing in the folder. Would be nice if this `NullPointerException` was caught and the user was bounced back to the list view with a toast saying:

or similar

[2018-09-09 19:45] ScreamingHawk opened #121 "Status bar is white in list view"
The status bar is white in the list view where it should be blue.

This is a regression error I assume was introduced by updating the support libraries. If this is the case I'd like to fix forwards and not revert the support libraries.

Should be a relatively easy fix.

[2018-09-09 19:46] ScreamingHawk commented on #121
![](https://i.imgur.com/W1cGUcu.png)

[2018-09-09 19:54] ScreamingHawk opened #122 "Additional Logging"
Should log the following for each image (at debug level).

* File path (full)
* File name
* Size
* Dimensions

Should log the following at info level at the start of a slideshow:

* All the configurable settings

[2018-09-13 19:39] #121 closed

[2018-10-09 21:49] ScreamingHawk opened #124 "Last Modified Date should include year"
The last modified date should include the year.

Easy fix. Related code: https://github.com/ScreamingHawk/android-slideshow/blob/master/app/src/main/java/link/standen/michael/slideshow/ImageActivity.java#L557

[2018-10-12 01:38] ScreamingHawk commented on #124
I think it already / previously showed the year. This fix might not have been required. More investigation required

[2018-10-14 16:46] patm22 commented on #120
Hi, can i take it ?

[2018-10-14 18:31] ScreamingHawk commented on #120
@patm22 Yes please! I haven't had the chance to properly debug this so you might have trouble testing it.

[2018-10-14 21:22] ScreamingHawk opened #125 "Add slideshow animations"
Add animations to slideshow.

* Slide
* Cross fade
* Flip
* Blur
etc

Happy for this to be a Glide only setting. Should be configurable and off by default

[2018-10-16 10:45] SamuelBiros commented on #114
Hey there, it this issue still up for grabs? I would be interested..

[2018-10-16 18:33] ScreamingHawk commented on #125
Happy for this to be added incrementally. (One animation at a time)

[2018-10-16 18:34] ScreamingHawk commented on #113
Closing in favour of #125

[2018-10-16 18:34] #113 closed

[2018-10-16 18:37] ScreamingHawk commented on #114
Hi @SamuelBiros Yes it is! Feel free to pick it up. If you need any help you can drop me a message

[2018-11-01 14:09] patm22 commented on #120
Check for empty list is properly done. I believe that bug is somewhere else however I was not able to reproduce it.
All I can do is put try catch and check whether NullPointerException occur and if yes show error toast. I already implemented this and I can create pull request, is it going to be okay?

[2018-11-01 19:12] ScreamingHawk commented on #120
Sure. Submit a pull request and I'll have a look at the implementation. I wasn't able to replicate the error either. Are you bouncing the user back to the list activity as well as toasting? That would be good enough for this one I think.

[2018-11-04 18:46] ScreamingHawk commented on #120
Yeah that'll do. Thanks for this! One of those things that needs to be done but I don't have the time. I'll be sure to add a thanks to the change log when I deploy this one.

Thanks again!

[2018-11-04 18:46] #120 closed

[2018-11-04 18:46] ScreamingHawk commented on #124
Eh. Both work. Will leave it as is

[2018-11-04 18:46] #124 closed

[2018-11-08 20:56] ScreamingHawk opened #130 "Add donate button"
Add a button in the About page to donate (somehow).

Options:
* PayPal
* Bitcoin
* Other cypto
* In app purchase
* Buy donation app (Need to also build the app)

**Important**

Make sure that FDroid is fine with these changes!!! Otherwise revert

[2018-11-26 12:10] SamuelBiros commented on #114
Hello, the problem is solved. I requested a merge.

[2018-12-05 20:38] mettyw opened #131 "Option to lock screen"
It would be great if it would be possible to lock the screen. E.g. if you do a long press on the display, the screen would be locked until you do another long-press. "Locked" means that no input is accepted and no buttons appear.

Rationale: in some usage scenarios the slide show is deployed at "grandma's" who likes to clean the dust from it. During cleaning she might accidentally touch the screen

[2018-12-07 01:38] ScreamingHawk commented on #131
Done! Expect to see this in the next release. I'm a bit behind on releases so will try to get around to making a release this week

[2018-12-07 01:44] ScreamingHawk commented on #131
Eh, I just did it now. Enjoy!

[2018-12-07 01:44] #131 closed

[2018-12-30 09:01] mettyw commented on #101
Hi, I guess this is still open right? Should there be a separate preference for EXIF orientation support, roughly like this:
* EXIF_ROTATE_DIMEN: "Rotate image according to EXIF tag, if present"
* AUTO_ROTATE_DIMEN: "Rotate image to landscape, if EXIF rotation preference is disabled or no EXIF tag is present"

Or do you think it should be combined in one? I would opt for two separate choices.

By

[2019-01-03 18:59] mettyw opened #133 "Watch directory for changes"
It would be great if the selected directory would be monitored for changes and new files would be discovered automatically. Especially for STOP_ON_COMPLETE=false, this would be extremely useful.

PS: I would volunteer to implement this, if this is okay with you? I have in mind a refactoring of the FileList related stuff from ImageActivity into an own class and then the introduction of a FileObeser

[2019-01-06 18:35] ScreamingHawk commented on #133
Please do @mettyw !!

Couple things that jump to mind:
* Do you expect a performance impact?
* How will this work when the "Random" option is selected?
* Any new permissions? (I wouldn't think so)

[2019-01-06 18:37] ScreamingHawk commented on #101
Hey @mettyw. Change your import to use `android.support.media.ExifInterface` as the error message states. You may need to add another support library to the `gradle.properties`. If you are using Android Studio it should recommend the correct one.

Once you get that squash I'll have it merged in. This is great! Thanks so much for your contributions!!!

[2019-01-13 15:56] mettyw commented on #133
FileObserver is coming directly from the Android SDK, according to documentation, it uses the underlying Linux kernels inotify which I remember to be performing pretty well. It is not an active watch like a while and a sleep. So I would not expect any noticeable impact.

My current proposal: on change, it would randomize the new file list again and then search for the current image within the list

[2019-01-13 16:15] mettyw opened #135 "Issue with Exif tags, glide strategy and Auto"

[2019-01-13 16:46] mettyw commented on #135
The following code seems to fix the issues I had, but I am not sure whether this is a proper fix, especially the Math.random() part in getId() ...

	@Override
	protected Bitmap transform(BitmapPool pool, Bitmap toTransform, int outWidth, int outHeight) {
		Log.d(TAG, String.format("Height: %d Width: %d", toTransform.getHeight(), toTransform.getWidth()));
		if ( outWidth <= outHeight) {
			if (toTr

[2019-01-13 18:52] ScreamingHawk commented on #133
All those sound fine. Let's do it!

In the event it does cause problems would you mind putting it behind a preference flag, `disabled` by default?

[2019-01-13 19:14] ScreamingHawk commented on #135
Optimised:

[code]

The `Id` just has to be unique, so `Math.random` is fine.

This seems like a good approach, so let's go with it.

[2019-01-13 19:59] ScreamingHawk commented on #101
Big thanks to @mettyw for doing all the work on this one!!!

[2019-01-13 19:59] #101 closed

[2019-01-16 20:07] #24 closed

[2019-01-16 20:09] ScreamingHawk commented on #130
Added BeerPay to the README

[2019-01-16 21:20] #122 closed

[2019-01-16 22:40] ScreamingHawk commented on #24
I just gave up on this one 😂

[2019-01-16 22:50] #97 closed

[2019-01-18 00:34] ScreamingHawk commented on #114
Thanks so much @SamuelBiros

Sorry it took so long to approve this merge request. It's now included and I'll have a release out shortly: https://github.com/ScreamingHawk/android-slideshow/commit/df58fd5aca1004e0e8e4d6692cc0c2d6b1d32378

[2019-01-18 00:34] #114 closed

[2019-01-18 02:22] ScreamingHawk commented on #130
Check out this: https://github.com/PrivacyApps/donations

[2019-01-22 23:58] ScreamingHawk opened #136 "Add fdroid metadata"
https://f-droid.org/en/docs/Build_Metadata_Reference/

Add this file

[2019-01-22 23:58] ScreamingHawk commented on #130
Need #136 to configure build flavour for fdroid

[2019-01-23 00:31] ScreamingHawk commented on #130
^ https://gitlab.com/fdroid/fdroiddata/merge_requests/4340

[2019-01-23 00:32] ScreamingHawk commented on #136
Already here: https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/link.standen.michael.slideshow.txt

[2019-01-23 00:32] #136 closed

[2019-07-23 06:07] Vaelatern commented on #133
This app is the closest to what I need except for this feature.

So I'm testing the open source dream. Here is my current patch, I'm building it now and will test it on my devices. I assume some little cleanup would be in order, but I'm not donating my time, just whatever patch I end up using to get this feature.

[code]

[2019-07-23 19:49] #133 closed

[2019-07-24 02:08] Vaelatern opened #138 "How to make the slideshow auto-start on device power on"
Let's say you want to, without the Google Play Store, without another app, and without having the ability to manage fleet of android devices, run a device as a dedicated slideshow device.

Turns out you apply the below patch, and the android-slideshow app becomes a viable "Launcher" which you can select instead of your regular home screen. Then, when your device starts, instead of seeing your list

[2019-07-24 03:10] ScreamingHawk commented on #138
Wow that's really cool. Would this break normal use?

I imagine it enables the app to be selected as a launcher when selecting launchers, but does it default to acting as a launcher when opened? This would be an awesome feature if it doesn't break traditional app use. I know many people are using this app to do exactly what you are doing so would be great to include for them too.

[2019-07-24 05:04] Vaelatern commented on #138
It does not default to acting as a launcher. It does mean that I'd ship two versions of this: one with this enabled and one without, since strictly speaking when you press Home you only expect to find genuine Launchers.

[2019-07-25 23:16] ScreamingHawk commented on #114
That wasn't shortly at all 😅 I've pushed this through to the beta stream. Will have a play for a while before moving to production. FYI Anyone is able to access the beta stream.

[2019-07-26 02:14] Vaelatern commented on #138
By the way, if you are shipping this on F-Droid (Someone is, that's how I found this app), that'd be where I'd love to see two varieties.

[2019-07-28 09:17] Vaelatern commented on #138
I've seen reference in #130 to build flavors in Fdroid, which could be a good solution to this.

[2019-07-29 08:51] eighthave commented on #138
I think you can dynamically register as a launcher, then it could be controled by a preference.

[2019-07-29 14:44] Vaelatern commented on #138
That would be the ideal solution.

[2019-07-29 19:34] ScreamingHawk commented on #138
@eighthave I'd happily accept a pull request for this if you know how

[2019-07-29 20:49] Vaelatern commented on #138
@eighthave if you have a code snippet to do the needful I can play with that too. It escaped a quick google search.

[2019-10-06 17:51] JekRock commented on #26
@ScreamingHawk I can add a Ukrainian translation if you're interested in it

[2019-10-07 18:43] ScreamingHawk commented on #26
I'm always happy to accept pull requests @JekRock :) Feel free

[2019-12-01 19:38] Vaelatern commented on #138
This has gone nowhere. I have added this to my todo list. It will happen, but might take over a year. If someone can please find this API, that'd be appreciated.

[2020-04-04 08:24] bigbirdcode opened #141 "Slideshow from zip archive"
Great app :-) One feature request, sometimes I upload images in a zip archive. It would be good to start the slideshow directly from the zip, without unpacking. Similar concept like comics, the CBZ or CBR file types.

[2020-04-05 19:36] ScreamingHawk commented on #141
That's a neat idea! I haven't worked on this app for a long time but will definitely keep this on the planned features list

[2020-04-27 06:58] rEnr3n opened #143 "[Feature request] SFTP"
I have a local server (headless) with images on it. The files are at least 200 GB. I can't copy them to my phone. Can you add support for viewing images over sftp?

[2020-04-27 20:23] ScreamingHawk commented on #143
Hey @rEnr3n . File access has been the most difficult part of this project and a lot has changed around it in the Android space since I began development.

I'm keen to have this on the roadmap but I don't have a time frame for development at this stage.

I'm incredibly happy to accept pull requests if you are able to supply a change. I'll be sure to cred you in the app as I have for previous contr

[2020-06-17 21:05] ScreamingHawk opened #144 "Add keyboard navigation"
User has requested keyboard navigation so the app can be used on a Chromebook.

Spacebar: Start / Pause
Arrows: Forward / Back
ESC / Backspace: Go back / Exit slideshow
Enter: Select file / folder

I think this should be a simple addition, add some key listeners that trigger existing functions

[2020-06-26 18:12] beholders-eye commented on #112
It's happening to me too. It seems random, but it seems to be related to high quality images. Images using high resolutions, probably above 1800x1800.

[2020-07-18 11:22] jacksonjosekunnel opened #145 "Add bookmark or last slideshow"
Please add a feature to continue last slideshow or add bookmarks or favourites option. Thanks

[2020-07-19 19:34] ScreamingHawk commented on #145
This is a cool feature idea. Thanks for the suggestion!

[2020-09-27 18:40] ScreamingHawk opened #146 "Pause on complete option"
Add an option to pause the slideshow when the slideshow is finished.

This feature is a user request.

[2020-09-28 21:46] ScreamingHawk commented on #145
FYI there is already an option to remember the last location you started a slideshow and another for immediately starting at the last image too. I think that is enough for this ticket

[2020-09-28 21:46] #145 closed

[2020-09-28 21:46] #146 closed

[2020-09-28 22:00] ScreamingHawk commented on #130
Not adding this to the app as Google's stand on donations is iffy and they have removed app with donate buttons in the past

[2020-09-28 22:01] #130 closed

[2020-11-27 20:23] ioogithub opened #150 "Can't get past "Stuck? Click to go Home screen""
I can't use the application at all. When I start I am shown a screen:

/ (inaccessible)

Stuck? Click to go Home

Clicking does nothing. I can't navigate away from this screen.

[2020-11-29 19:25] ScreamingHawk commented on #150
Hey. Thanks for the report. I haven't been actively developing this app lately. May be a while before you see a fix for this.
I've noticed a couple reported from people using LineageOS. This problem is probably bigger than it appears.

[2020-12-07 16:05] rapha8l commented on #150
Hi,
Same problem on a xiami a2 lite with stock Android rom 10
Thanks

[2020-12-07 19:25] ScreamingHawk commented on #150
:sob: Thanks for the report!

[2021-01-04 14:51] mondlicht-und-sterne opened #152 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want.

https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/

https://gitlab.com/snippets/1895688

[2021-01-07 07:45] ScreamingHawk commented on #152
Not a bad idea. Will do this when I get a chance

[2021-01-20 12:37] supportreq commented on #150
same error on oneplus 5 with oxygenos 10

[2021-02-11 17:46] mondlicht-und-sterne commented on #152
surely because fastlane is not so easy?

[2021-03-28 08:00] Coxo1 opened #153 "Files in Hidden Folders not visible."
Hello,

There was a Samsung update in February/March for Android 11. After the update, Android-Slideshow cannot see files under a hidden folder but does show folders.

Application has been set to show hidden files and was working fine prior to the update. Setting show hidden files off doesnt show hidden folders as expected.

.hidden\.hidden - no files
.hidden\visible - no files

It can see directo

[2021-03-30 04:24] Vaelatern commented on #138
I'm in the position of building this app again. It seems there is a partial hint of an answer here https://stackoverflow.com/questions/16446615/set-intents-category-programmatically

[2021-03-30 07:21] Vaelatern commented on #143
https://github.com/bumptech/glide/issues/2196
Might be relevant.

[2021-04-02 21:29] Vaelatern commented on #150
Same issue on some cheap Android Go tablet which won't let me use adb (grrr)

[2021-05-28 13:00] jackrsteiner commented on #150
Same issue on Motorola One Power with Android 10:

![Screenshot_20210528-155433](https://user-images.githubusercontent.com/6356075/119987146-60e8c300-bfcd-11eb-8656-65d2d4ab09c1.png)
![Screenshot_20210528-155422](https://user-images.githubusercontent.com/6356075/119987149-61815980-bfcd-11eb-9910-3fdc2f42dafe.png)

@ScreamingHawk I think labels for this bug should be updated.

[2021-07-31 01:21] langyxxl commented on #150
I solve this problem by compile this app from master code.
The f-droid version have this problem in my device xiaoxin pad TB-j606f.

[2021-10-26 17:08] wimmatthijs commented on #88
Same issue here, would love to see this as a feature some time soon!

[2022-01-20 06:25] YakiAttaki opened #156 "No longer able to access external drive"
Upgraded my external storage and it rendered the app unable to read the SD card. Worked perfectly fine beforehand, even though the device wasn't rooted or anything. Other apps work fine but for some reason this one fails and I'm not sure why.

[2022-05-18 18:22] #152 closed

[2022-05-25 06:11] T0k1o opened #157 "[feature request] gif delay"
A way to change the delay for gif files or giving them the same delay as other files :)

[2022-05-25 06:15] T0k1o commented on #157
That and variable delay maybe?, I'm using this app as a mobile version of flip flip
( https://ififfy.github.io/flipflip/#/ )
Any other features that could be done from here would be cool too

[2022-10-02 19:33] ScanuNicco opened #158 "Incorrect orientation on HEIC images"
I'm having a problem where certain images with the .heic extension that were taken on an iPhone are rotated incorrectly. This seems like it is very likely related to #101, so it's likely a simple fix. I'm using a Kindle Fire running LineageOS 16.0.

Image displaying with incorrect orientation in Slideshow:
![20221002_151848](https://user-images.githubusercontent.com/30136040/193472539-bbf77aa7-a62

[2022-10-03 00:41] ScanuNicco commented on #150
Android 10 switched to [Scoped Storage](https://developer.android.com/training/data-storage#scoped-storage) which prevents apps from having broad access to the filesystem. Therefore, Slideshow will likely need to transition to using the system file picker to select the folder that the media is located in to support Android 10+. As a workaround on LineageOS devices, enabling root in the system deve

[2022-11-16 20:52] ScanuNicco commented on #102
I've been looking into the implementation of this and it should be quite simple actually. [This library](https://github.com/martin-stone/hsv-alpha-color-picker-android) adds a color picker Preference which would make this easy to add to the settings menu, and the rest is really simple.